html,
body {
  margin: 0px;
  height: 100%;
}

/* HOMEPAGE */

body > .welcome-page {
  background-color: rgb(134, 134, 134);
}

.imageContainer {
  position: relative;
}

#homepage-image {
  height: 100vh;
}

.app-greeting {
  position: absolute;
  top: 30px;
  left: 50px;
  background-color: rgba(109, 109, 109, 0.342);
  color: rgb(209, 209, 209);
  padding-left: 15px;
  padding-right: 15px;
}

.app-img-credits {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: rgba(109, 109, 109, 0.342);
  color: rgb(209, 209, 209);
  padding-left: 15px;
  padding-right: 15px;
}

.big {
  font-size: 5em;
}

/* BASE NAVBAR */



/* DASHBOARD - NAV */

.nav-pills .nav-link.active {
  background-color: rgb(44, 44, 44);
}

.nav-pills .nav-link {
  color: rgb(44, 44, 44);
}

/* DASHBOARD - PET PROFILE */

.pet-profile-container {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding: 0.5em;
}

div.pet-profile {
  vertical-align: top;
  display: inline-block;
  padding: 0.5em;
}

.check-in-map-container {
  width: 66%;
  display: inline-block;
  vertical-align: top;
  padding: 0.5em;
}

div.pet-profile.profile-image {
  width: 42%;
}

div.pet-profile.profile-info {
  width: 56%;
}

.pet-profile-img {
  width: 7em;
}

/* DASHBOARD - CHECK INS */

.pet-check-in-container {
  width: 51%;
  display: inline-block;
  vertical-align: top;
  padding: 0.5em;
}

.check-in-chart-container {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  padding: 0.5em;
}

div.pet-profile.check-in-profile-image {
  width: 20%;
}

div.pet-profile.check-in-info {
  width: 79%;
}

.check-ins-scroll {
  height: 12em;
  overflow-y: auto;
}

/* HIKE DETAILS - TABS */

.nav-tabs .nav-link.active {
  background-color: rgb(44, 44, 44);
  color: rgb(255, 255, 255);
}

.nav-tabs .nav-link {
  color: rgb(44, 44, 44);
}

.hike-details-bottom-container {
  height: 35vh;
  overflow-y: auto;
}

.square-button {
  height: 10em;
  width: 10em;
  display: inline-block;
  margin: 0.5em;
}

.search-bar-container {
  margin-right: 1em;
}

.all-hikes-container {
  height: 70vh;
  overflow-y: auto;
}

.dashboard-content-container {
  height: 80vh;
  overflow-y: auto;
}

/* .fixed-side {
  top: 3em;
  left: 2em;
  width: 7em;
  position: fixed;
} */

/* @media (min-width: 768px) {
  .main {
    padding-right: 2em;
    padding-left: 9em; 
  }
} */

.search-category-scroll {
  height: 11em;
  overflow-y: auto;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin-left: 1em; /* Remove margins */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#dashboard-map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
