body > .welcome-page {
  background-color: rgb(134, 134, 134);
}

.pet-profile-img {
  height: 6em;
}

.imageContainer {
  position: relative;
}

#homepage-image {
  height: 100vh;
}

.app-greeting {
  position: absolute;
  top: 30px;
  left: 50px;
  background-color: rgba(109, 109, 109, 0.342);
  color: rgb(209, 209, 209);
  padding-left: 15px;
  padding-right: 15px;
}

.big {
  font-size: 5em;
}

.nav-pills .nav-link.active {
  background-color: rgb(48, 48, 48);
}

.nav-pills .nav-link {
  color: rgb(48, 48, 48);
}

.check-ins-scroll {
  height: 7em;
  overflow-y: scroll;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin-left: 1em; /* Remove margins */
}
