{% extends 'base.html' %}
{% block title %}All Bookmarks{% endblock %}

{% block body %}
  <div class="card card-body" id="bookmarks-container">

    <h2>All Bookmarks</h2>


    <a class="btn btn-link text-start" data-bs-toggle="collapse" href="#collapse-add-bookmark" role="button" aria-expanded="false" aria-controls="collapse-add-bookmark">
      Add Bookmark List
    </a>
    <div class="collapse card card-body" id="collapse-add-bookmark">
      <form action="/add-bookmarks-list" id="form-add-bookmarks-list" method="POST">

        <div>
            <label for="bookmarks_list_name" class="sr-only">Name your bookmark list</label>
            <input type="text"
                    name="bookmarks_list_name"
                    class="form-control input-lg"
                    placeholder="Hikes I Want To Visit"
                    required
                    autofocus>
        </div>

        <div>
          <button class="btn btn-sm btn-primary btn-block mt-4" type="submit">Save</button>
        </div>
      </form>
    </div>


    <p>Nice to have: Be able to sort alphabetically?</p>
    <ul>
      {% for bookmarks_list in bookmarks_lists %}
        <li>
          <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse-bookmarks-{{ bookmarks_list.bookmarks_list_id }}" role="button" aria-expanded="false" aria-controls="collapse-bookmarks-{{ bookmarks_list.bookmarks_list_id }}">
            {{ bookmarks_list.bookmarks_list_name }}
          </a>

          <form action="/edit-bookmarks-list" class="edit-form" id="form-edit-bookmarks-list" method="POST">
            <button class="btn btn-link btn-sm" type="submit" name="edit" value="{{ bookmarks_list.bookmarks_list_id }}">Rename</button>
          </form>
          <form action="/delete-bookmarks-list" class="delete-form" id="form-delete-bookmarks-list" method="POST">
            <button class="btn btn-link btn-sm" type="submit" name="delete" value="{{ bookmarks_list.bookmarks_list_id }}">Delete</button>
          </form>

          <div class="collapse card card-body" id="collapse-bookmarks-{{ bookmarks_list.bookmarks_list_id }}">
            {% for hike in bookmarks_list.hikes %}
            <a href="/hikes/{{ hike.hike_id }}" target="_blank">{{ hike.hike_name }}</a>

            <form action="/remove-hike" class="delete-form" id="form-remove-hike" method="POST">
              <button class="btn btn-link btn-sm" type="submit" name="delete" value="{{ hike.hike_id }},{{ bookmarks_list.bookmarks_list_id }}">Remove</button>
            </form>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>


  <div class="card card-body" id="bookmarks-maps-container">
    <h2>Bookmarks Map</h2>
    Map should show all locations of the selected bookmarks list
  </div>
{% endblock %}