{% extends 'base.html' %}
{% block title %}All Hikes{% endblock %}

{% block body %}

  <div class="card card-body" id="search-side-bar">
    <h2>Search Hikes</h2>
    <p>Search function to be added here. Will be a left sidebar.</p>
  </div>
  
  <div class="card card-body" id="all-hikes-container">
    <h2>All Hikes</h2>

    <ul>
      {% for hike in hikes %}
        <li>
          <a href="/hikes/{{ hike.hike_id }}">
            {{ hike.hike_name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}