{% extends 'base.html' %} {% block title %}All Hikes{% endblock %} {% block body
%}
<div class="bg"></div>
<div class="bg-fade-div"></div>
<div id="root"></div>

{% if "login" in session %}
<div hidden id="login">True</div>
<div hidden id="user_id">{{ user.user_id }}</div>
{% else %}
<div hidden id="login">False</div>
{% endif %} {% endblock %} {% block js %}
<script src="/static/js/petProfileComponents.jsx" type="text/jsx"></script>
<script src="/static/js/checkInComponents.jsx" type="text/jsx"></script>
<script src="/static/js/bookmarkComponents.jsx" type="text/jsx"></script>
<script src="/static/js/commentComponents.jsx" type="text/jsx"></script>
<script src="/static/js/otherComponents.jsx" type="text/jsx"></script>
<script src="/static/js/searchComponents.jsx" type="text/jsx"></script>
<script src="/static/js/allHikesComponents.jsx" type="text/jsx"></script>
{% endblock %}
