<!-- Search buttons by different categories -->

<h5>Find a Hike by State</h5>

<div class="input-group">
  {% for state in states|sort() %}
  <form method="GET" action="/hikes/search">
    <button
      type="submit"
      name="state"
      value="{{ state }}"
      class="btn btn-outline-dark square-button"
    >
      {{ state }}
    </button>
  </form>
  {% endfor %}
</div>

<h5>Find a Hike by Area</h5>

<div class="search-category-scroll">
  <div class="input-group">
    {% for area in areas|sort() %}
    <form method="GET" action="/hikes/search">
      <button
        type="submit"
        name="area"
        value="{{ area }}"
        class="btn btn-outline-dark square-button"
      >
        {{ area }}
      </button>
    </form>
    {% endfor %}
  </div>
</div>

<script>
  new Choices(document.querySelector(".choices-multiple"));
</script>
