{% extends 'base.html' %} {% block title %}All Hikes{% endblock %} {% block body
%}

<div id="root"></div>

<!-- <div class="container-fluid">

  <div class="d-flex justify-content-start">

    
  
    <div class="card col mt-3" style="width:100vw">

      <div class="card-header pb-0">
        <div class="clearfix">

          <div class="d-flex float-start mt-1"><h3>Hikes</h3></div>
          <div class="d-flex float-end">

            <form method="GET" action="/hikes/search" class="d-flex">
              <input class="form-control me-2 input-sm"
                      type="search"
                      name="search_term"
                      placeholder="Search hikes"
                      aria-label="Search">
              </input>
              <button class="btn btn-sm me-2"
                      role="button"
                      type="submit">
                <small><i data-bs-toggle="tooltip" data-bs-placement="right" title="search" class="bi bi-search"></i></small>
              </button>
            </form>
            <a class="btn btn-sm mt-1" data-bs-toggle="offcanvas" href="#Search" role="button" aria-controls="Search">
              <small><i data-bs-toggle="tooltip" data-bs-placement="right" title="advanced search" class="bi bi-sliders"></i></small>
            </a>

          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="all-hikes-container">

          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th role="columnheader"><small>
                  Name</small>
                </th>
                <th role="columnheader"><small>
                  Difficulty</small>
                </th>
                <th role="columnheader"><small>
                  Length</small>
                </th>
                <th role="columnheader"><small>
                  State</small>
                </th>
                <th role="columnheader"><small>
                  Area</small>
                </th>
                <th role="columnheader"><small>
                  City</small>
                </th>
                <th role="columnheader">
                  <small>Leash rule</small>
                </th>
                <th role="columnheader"><small>
                  Parking</small>
                </th>
              </tr>
            </thead>
            <tbody>

            {% for hike in search_hikes %}
              <tr>
                <td>
                  <span class="d-inline-block text-truncate" style="min-width: 0px; max-width: 400px;">
                    <a class="link-dark" href="/hikes/{{ hike.hike_id }}"><small>{{ hike.hike_name }}</small></a>
                  </span>
                </td>
                <td>
                  
                  <small>{{ hike.difficulty }}</small>
                  
                </td>
                <td>
                  
                  <small>{{ hike.miles }} miles</small>
                  
                </td>
                <td>
                  
                  <small>{{ hike.state }}</small>
                  
                </td>
                <td>
                  
                  <small>{{ hike.area }}</small>
                  
                </td>
                <td>
                  
                    <small>{{ hike.city }}</small>
                  
                </td>
                <td>
                  
                    <small>{{ hike.leash_rule }}</small>
                  
                </td>
                <td>
                  <span class="d-inline-block text-truncate" style="max-width: 130px;">
                  <small>{{ hike.parking }}</small>
                  </span>
                </td>
              </tr>
            {% endfor %}

            </tbody>
          </table>


        </div>
      </div>
    </div>

  </div>
  
</div> -->

{% if "login" in session %}
<div hidden id="login">True</div>
<div hidden id="user_id">{{ user.user_id }}</div>
{% else %}
<div hidden id="login">False</div>
{% endif %} {% endblock %} {% block js %}
<script src="/static/js/petProfileComponents.jsx" type="text/jsx"></script>
<script src="/static/js/checkInComponents.jsx" type="text/jsx"></script>
<script src="/static/js/bookmarkComponents.jsx" type="text/jsx"></script>
<script src="/static/js/commentComponents.jsx" type="text/jsx"></script>
<script src="/static/js/otherComponents.jsx" type="text/jsx"></script>
<script src="/static/js/searchComponents.jsx" type="text/jsx"></script>
<script src="/static/js/allHikesComponents.jsx" type="text/jsx"></script>
{% endblock %}
