{% extends 'base.html' %}
{% block title %}All Bookmarks{% endblock %}

{% block body %}
  <div class="bookmarks-container">

    <h1>All Bookmarks</h1>


    <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse-add-bookmark" role="button" aria-expanded="false" aria-controls="collapse-add-bookmark">
      Add Bookmark List
    </a>
    <div class="collapse" id="collapse-add-bookmark">
      <div class="card card-body">
        <form action="/add-bookmarks-list" id="form-add-bookmarks-list" method="POST">

          <div>
              <label for="bookmarks_list_name" class="sr-only">Name your bookmark list</label>
              <input type="text"
                      name="bookmarks_list_name"
                      class="form-control input-lg"
                      placeholder="Hikes I Want To Visit"
                      required
                      autofocus>
          </div>
          <button class="btn btn-sm btn-primary btn-block mt-4" type="submit">Save
          </button>
        </form>
      </div>
    </div>


    <p>Clicking a link should expand to show all bookmarks in list instead of going to a new link.
      <br>Nice to have: Be able to search/filter bookmarks lists or within each list.
    </p>
    <ul>
      {% for bookmarks_list in bookmarks_lists %}
        <li>
          <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse-bookmarks-{{ bookmarks_list.bookmarks_list_id }}" role="button" aria-expanded="false" aria-controls="collapse-bookmarks-{{ bookmarks_list.bookmarks_list_id }}">
            {{ bookmarks_list.bookmarks_list_name }}
          </a>
          <div class="collapse" id="collapse-bookmarks-{{ bookmarks_list.bookmarks_list_id }}">
            <div class="card card-body">
              {% for hike in bookmarks_list.hikes %}
              <br><a href="/hikes/{{ hike.hike_id }}">{{ hike.hike_name }}</a>
              {% endfor %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>


  <div class="bookmarks-maps-container">
    <h1>Bookmarks Map</h1>
    Map should show all locations of the selected bookmarks list
  </div>
{% endblock %}