{% extends 'base.html' %} {% block head %} {# ChartJS #}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

{# If you want to use time scales, you have to import a date library and the
Chart.js adapter #}
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>

{# randomColor: generate random colors #}
<script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>
{% endblock %} {% block title %}Dashboard{% endblock %} {% block body %}

<div id="root" style="height: 90%; width: 100%"></div>

{% if "login" in session %}
<div hidden id="login">True</div>
{% else %}
<div hidden id="login">False</div>
{% endif %} {% endblock %} {% block js %}
<!-- Google Maps API -->
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_KEY }}"
></script>
<script src="/static/js/petProfileComponents.jsx" type="text/jsx"></script>
<script src="/static/js/checkInComponents.jsx" type="text/jsx"></script>
<script src="/static/js/bookmarkComponents.jsx" type="text/jsx"></script>
<script src="/static/js/otherComponents.jsx" type="text/jsx"></script>
<script src="/static/js/dashboardCheckIn.jsx" type="text/jsx"></script>
<script src="/static/js/dashboardMap.jsx" type="text/jsx"></script>
<script src="/static/js/dashboardGraph.jsx" type="text/jsx"></script>
<script src="/static/js/searchComponents.jsx" type="text/jsx"></script>
<script src="/static/js/dashboardComponents.jsx" type="text/jsx"></script>
{% endblock %}
