{% extends 'base.html' %} {% block head %} 

{# ChartJS #}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

{# If you want to use time scales, you have to import a date library and the
Chart.js adapter #}
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>

{# randomColor: generate random colors #}
<script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>
{% endblock %} {% block title %}Dashboard{% endblock %} {% block body %}

<!-- MODALS -->
<!-- START ADD PET MODAL -->
<div
  class="modal fade"
  id="modal-add-pet"
  tabindex="-1"
  aria-labelledby="modal-add-pet-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-add-pet-label">Add Pet Info</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/add-pet" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="pet_name" class="sr-only"> Name </label>&nbsp;<small class="text-muted">*</small>
            <input
              type="text"
              name="pet_name"s
              class="form-control"
              placeholder="Name"
              required
            />
          </div>

          <div class="mb-3">
            <label for="gender" class="sr-only"> Gender </label>
            <select name="gender" class="form-control">
              <option value=""></option>
              <option value="female">female</option>
              <option value="male">male</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="birthday" class="sr-only"> Birthday </label>
            <input type="date" name="birthday" class="form-control" />
          </div>

          <div class="mb-3">
            <label for="breed" class="sr-only"> Breed </label>
            <input
              type="text"
              name="breed"
              class="form-control"
              placeholder="Breed"
            />
          </div>

          <div class="mb-3">
            <label for="my_file" class="sr-only"> Image </label>
            <input
              type="file"
              name="my_file"
              class="form-control"
              accept="image/png, image/jpeg"
            />
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-sm btn-outline-dark btn-block mt-4"
              data-bs-dismiss="modal"
            >
              Save
            </button>
            <button
              type="button"
              class="btn btn-sm btn-secondary btn-block mt-4"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END ADD PET MODAL -->

<!-- START ADD CHECK IN MODAL -->
<div
  class="modal fade"
  id="modal-add-check-in"
  tabindex="-1"
  aria-labelledby="modal-add-check-in-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-add-check-in-label">Add Check In</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
        <form
          style="margin:1.5em"
          action="/check-in"
          method="POST"
          onSubmit="validateCheckIn() || event.preventDefault();"
        >
          <div class="mb-3">
            <label for="hike_id" class="sr-only">Hike</label>&nbsp;<small class="text-muted">*</small>
            <select name="hike_id" class="form-control" required>
              {% for hike in hikes|sort(attribute='hike_name') %}
              <option value="{{ hike.hike_id }}">{{ hike.hike_name }}</option>
              {% endfor %}
            </select>
          </div>


          <div class="mb-3">
            <label for="pet_id" class="sr-only">Pets</label>&nbsp;<small class="text-muted">*</small>
            {% for pet in pets|sort(attribute='pet_name') %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="add-check-in-pet_id" value="{{ pet.pet_id }}" id="check-in-{{ pet.pet_id }}">
              <label class="form-check-label" for="check-in-{{ pet.pet_id }}">
                {{ pet.pet_name }}
              </label>
            </div>
            {% endfor %}
          </div>

          <div class="mb-3">
            <label for="date_hiked" class="sr-only">Date Hiked</label>&nbsp;<small class="text-muted">*</small>
            <input
              type="date"
              name="date_hiked"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label for="miles_completed" class="sr-only">Miles Completed</label>&nbsp;<small class="text-muted">*</small>
            <input
              type="number"
              step=".1"
              min="0"
              name="miles_completed"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label for="total_time" class="sr-only">Total Time (Hours)</label>
            <input
              type="number"
              step=".1"
              min="0"
              name="total_time"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="notes" class="sr-only">Notes</label>
            <input
                type="text"
                name="notes"
                class="form-control"
            />
          </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-outline-dark btn-block" type="submit">Submit</button>
          <button type="button" class="btn btn-sm btn-secondary btn-block" data-bs-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END ADD CHECK IN MODAL -->

<!-- START ADD BOOKMARK MODAL -->
<div
  class="modal fade"
  id="modal-add-bookmark"
  tabindex="-1"
  aria-labelledby="modal-add-bookmark-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-add-bookmark-label">Add Bookmark</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/add-bookmarks-list" method="POST">
          <div class="mb-3">
            <label for="bookmarks_list_name" class="sr-only"> Name your list </label>
            <input
              type="text"
              name="bookmarks_list_name"
              class="form-control"
              placeholder="Hikes I Want To Visit"
              required
            />
          </div>

          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-sm btn-outline-dark btn-block mt-4"
              data-bs-dismiss="modal"
            >
              Save
            </button>
            <button
              type="button"
              class="btn btn-sm btn-secondary btn-block mt-4"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END ADD BOOKMARK MODAL -->

<!-- END MODALS -->

<div class="container-fluid">

  <!-- start tabs and panels -->
  <div class="d-flex justify-content-start">

    <!-- start tabs -->
    <nav
      class="sidenav nav flex-column nav-pills mt-4"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
      style="margin-right:1em"
    >
      <a
        class="nav-link"
        id="v-pills-profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#v-pills-profile"
        href="#v-pills-profile"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="true"
      >
        Profile
        </a>
      <a
        class="nav-link"
        id="v-pills-check-ins-tab"
        data-bs-toggle="tab"
        data-bs-target="#v-pills-check-ins"
        href="#v-pills-check-ins"
        type="button"
        role="tab"
        aria-controls="v-pills-check-ins"
        aria-selected="false"
      >
        Check Ins
        </a>
      <a
        class="nav-link"
        id="v-pills-bookmarks-tab"
        data-bs-toggle="tab"
        data-bs-target="#v-pills-bookmarks"
        href="#v-pills-bookmarks"
        type="button"
        role="tab"
        aria-controls="v-pills-bookmarks"
        aria-selected="false"
      >
        Bookmarks
        </a>
    </nav>
    <!-- end tabs -->
    <!-- start panels -->
    <div class="tab-content mt-4" id="v-pills-tabContent" style="width: 100vw">
      
      <!-- start profile (pet profiles) panel -->
      <div
        class="tab-pane fade show active card dashboard-content-container"
        id="v-pills-profile"
        role="tabpanel"
        aria-labelledby="v-pills-profile-tab"
      >
        
        <div class="card-header">  <!-- start pet profile header -->
          <div class="clearfix">
            <h3 style="float: left">Pet Profiles</h3>
            <a class="btn btn-sm" style="float:right" href="" data-bs-toggle="modal" data-bs-target="#modal-add-pet">
              <div data-bs-toggle="tooltip" data-bs-placement="right" title="add a pet" ><i class="bi bi-plus"></i> pet 🐾</div>
            </a>
          </div>
          
        </div>  <!-- end pet profile header -->
        
        <div class="card-body">  <!-- start pet profile card body -->
          {% if pets == [] %}
          You have no pet profiles 🐕
          {% else %}  
          <div class="pet-profile-container">
            {% for pet in pets|sort(attribute='pet_name') %}
            <!-- div for pet name and delete/edit options -->
            <div class="row" style="display: block">
              <div class="clearfix">
                <div style="float:left">
                  <h6
                    class="card-title pet-profile-header"
                    id="pet-header-{{ pet.pet_id }}"
                  >
                    {{ pet.pet_name }}
                  </h6>
                </div>
                <div class="d-flex" style="float:right">
                  <a
                    href="" 
                    data-bs-toggle="modal"
                    data-bs-target="#modal-edit-{{ pet.pet_id }}"
                    style="color: rgb(44, 44, 44)"
                  >
                    <small><i data-bs-toggle="tooltip" data-bs-placement="right" title="edit pet profile" class="bi bi-pencil"></i></small>
                  </a>&nbsp;&nbsp;&nbsp;

                  <form
                    action="/delete-pet"
                    method="POST"
                  >
                    <button
                      class="btn btn-sm"
                      style="padding:0"
                      type="submit"
                      name="delete"
                      value="{{ pet.pet_id }}"
                      onclick="return confirm('Do you want to delete this pet profile?');"
                    >
                      <i data-bs-toggle="tooltip" data-bs-placement="right" title="delete pet profile" class="bi bi-x"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="mb-1" style="display: block">
              <div class="col pet-profile profile-image">
                {% if pet.pet_imgURL != None %}
                <div><img
                  src="{{ pet.pet_imgURL }}"
                  alt="profile"
                  class="pet-profile-img"
                  id="pet-img-{{ pet.pet_id }}"
                /></div>
                {% endif %}
              </div>
              <div class="col pet-profile profile-info">
                  {% if pet.breed != None and pet.breed != "" and pet.breed != "None" %}
                  <div><small>{{ pet.breed }}</small></div>
                  {% else %}
                  {% endif %}

                  {% if pet.gender != None and pet.gender != "" %}
                  <div><small>{{ pet.gender }}</small></div>
                  {% endif %}

                  {% if pet.birthday != None and pet.birthday != "" %}
                  <div>
                    🎂&nbsp;&nbsp;<small>{{ pet.birthday.strftime('%b %d, %Y') }}
                  </small></div>
                  {% endif %}


                  {% if pet.check_ins != [] %}
                  <div><small>I've done {{ pet.check_ins|length }} {% if pet.check_ins|length > 1 %} hikes{% else %} hike{% endif %}</small></div>
                  <div><small>and walked {{ pet.check_ins|sum(attribute="miles_completed") }} {% if pet.check_ins|sum(attribute="miles_completed") > 1 %} miles{% else %} mile{% endif %}!</small></div>
                  {% endif %}
              </div>
            </div>

              <!-- START EDIT PET MODAL -->
              <div
                class="modal fade"
                id="modal-edit-{{ pet.pet_id }}"
                tabindex="-1"
                aria-labelledby="modal-edit-pet-label"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-edit-pet-label">
                        Edit Pet Info
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form
                        action="/edit-pet"
                        method="POST"
                        enctype="multipart/form-data"
                      >
                        <div class="mb-3">
                          <label htmlFor="pet_name" class="sr-only">
                            Name
                          </label>&nbsp;<small class="text-muted">*</small>
                          <input
                            type="text"
                            name="pet_name"
                            value="{{ pet.pet_name }}"
                            class="form-control"
                            required
                          />
                        </div>

                        <div class="mb-3">
                          <label for="gender" class="sr-only">
                            Gender
                          </label>
                          <select
                            name="gender"
                            value="{% if pet.gender != None %} {{ pet.gender }} {% endif %}"
                            class="form-control"
                          >
                            <option value=""></option>
                            <option value="female">female</option>
                            <option value="male">male</option>
                          </select>
                        </div>

                        <div class="mb-3">
                          <label htmlFor="birthday" class="sr-only">
                            Birthday
                          </label>
                          <input
                            type="date"
                            name="birthday"
                            value="{% if pet.birthday != None %}{{ pet.birthday }}{% endif %}"
                            class="form-control"
                          />
                        </div>

                        <div class="mb-3">
                          <label htmlFor="breed" class="sr-only">
                            Breed
                          </label>
                          <input
                            type="text"
                            name="breed"
                            value="{% if pet.breed != None %} {{ pet.breed }} {% endif %}"
                            class="form-control"
                            placeholder="Breed"
                          />
                        </div>

                        <div class="mb-3">
                          <label htmlFor="my_file" class="sr-only">
                            Image
                          </label>
                          <input
                            type="file"
                            name="my_file"
                            class="form-control"
                            accept="image/png, image/jpeg"
                          />
                        </div>
                        <div class="modal-footer">
                          <button
                            class="btn btn-sm btn-outline-dark btn-block mt-4"
                            type="submit"
                            name="edit"
                            value="{{ pet.pet_id }}"
                          >
                            Save
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-secondary btn-block mt-4"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END EDIT PET MODAL -->
            {% endfor %}
          </div>
          <div class="check-in-map-container">
            <h5>Where We've Been 🗺</h5>
            <div id="dashboard-map"></div>
          </div>
          {% endif %}
        </div>

      </div>   <!-- end pet profile card body -->


      <!-- start activity (check ins, graph and map) panel -->
      <div
        class="tab-pane fade card dashboard-content-container"
        id="v-pills-check-ins"
        role="tabpanel"
        aria-labelledby="v-pills-check-ins-tab"
      >
        <div class="card-header">
          <div class="clearfix">
            <h3 style="float: left">Check Ins</h3>
            <a class="btn btn-sm" style="float:right" href="" data-bs-toggle="modal" data-bs-target="#modal-add-check-in">
              <div data-bs-toggle="tooltip" data-bs-placement="right" title="add a check in" ><i class="bi bi-plus"></i> check in <i class="bi bi-check-circle"></i></div>
            </a>
          </div>
        </div>
        <div class="card-body">

          {% if check_ins == [] %}
          There hasn't been any activity yet! Please add a check in.
          {% else %}
          <div class="check-in-chart-container">
            <h5>How Far We've Come! 🐾</h5>
            <div class="d-flex">
              View by&nbsp;&nbsp;
              
              <input type="radio" class="btn-check" name="chart-view" value="month-view" id="month-view" autocomplete="off" checked>
              <label class="btn btn-outline-dark btn-sm" for="month-view">month</label>&nbsp;

              <input type="radio" class="btn-check" name="chart-view" value="year-view" id="year-view" autocomplete="off">
              <label class="btn btn-outline-dark btn-sm" for="year-view">year</label>&nbsp;&nbsp;

              <div id="show-month-view" class="chart-form">
                  <div class="d-flex">

                    <select class="form-select btn-sm" name="month-view-month" aria-label="month-view-select-month">
                        {% for month_num, month_abbrev in months %}
                        <option value="{{ month_num }}"><small>{{ month_abbrev }}</small></option>
                        {% endfor %}
                    </select>

                    &nbsp;

                    <select class="form-select btn-sm" name="month-view-year" aria-label="month-view-select-year">
                        {% for year in years|sort(reverse=True) %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>

                    &nbsp;

                    <button
                      class="chart-view-submit btn btn-sm btn-outline-dark"
                      type="submit"
                      name="view"
                      value="month"
                    >
                      Submit
                    </button>

                  </div>

              </div>

              <div id="show-year-view" class="chart-form">

                <div class="d-flex">
                  <select class="form-select btn-sm" name="year-view-year" aria-label="year-view-select-year">
                      {% for year in years|sort(reverse=True) %}
                      <option value="{{ year }}">{{ year }}</option>
                      {% endfor %}
                  </select>

                    &nbsp;

                  <button
                    class="chart-view-submit btn btn-sm btn-outline-dark"
                    type="submit"
                    name="view"
                    value="year"
                  >
                    Submit
                  </button>
                </div>

              </div>
            </div>
            {% endif %}
            <div class="d-flex justify-content-start">
              {% if check_ins != [] %}
              <div style="position: relative; width: 40vw">
                <canvas id="check-in-graph"></canvas>
              </div>
            </div>
          </div>
            
          <div class="pet-check-in-container">
            {% for pet in pets|sort(attribute='pet_name') %}
            <div class="mb-1" style="display: block">
              <div class="col pet-profile check-in-profile-image">
                <h6
                  class="card-title pet-profile-header"
                  id="pet-header-{{ pet.pet_id }}"
                >
                  {{ pet.pet_name }}
                </h6>
                {% if pet.pet_imgURL != None %}
                <div><img
                  src="{{ pet.pet_imgURL }}"
                  alt="profile"
                  class="pet-profile-img"
                  id="pet-img-{{ pet.pet_id }}"
                /></div>
                {% endif %}
              </div>
              <div class="col pet-profile check-in-info">
                {% if pet.check_ins == [] %}
                    
                <small>{{ pet.pet_name }} has no check ins yet!</small>

                {% else %}

                <!-- START CHECK IN SCROLL -->
                <!-- Would be nice if the check ins could be limited based on view by selection (month/year) -->
                <div class="check-ins-scroll">
                {% for check_in in pet.check_ins|sort(attribute='date_hiked', reverse=True) %}
                

                  <div class="d-flex justify-content-start">

                    <a
                      href="" 
                      data-bs-toggle="modal" 
                      data-bs-target="#modal-edit-check-in-{{ check_in.check_in_id }}" 
                      style="color: rgb(44, 44, 44)"
                    >
                      <small><i data-bs-toggle="tooltip" data-bs-placement="right" title="edit check in" class="bi bi-pencil"></i></small>
                    </a>

                    &nbsp;

                    <form
                      action="/delete-pet-check-in"
                      method="POST"
                    >
                      <button
                        class="btn btn-sm"
                        style="padding:0"
                        type="submit"
                        name="delete"
                        value="{{ pet.pet_id }},{{ check_in.check_in_id }}"
                        onclick="return confirm('Do you want to delete this check in for this pet? ');"
                      >
                        <small>
                          <i data-bs-toggle="tooltip" data-bs-placement="right" title="delete check in" class="bi bi-x"></i>
                        </small>
                      </button>
                    </form>

                    &nbsp;&nbsp;&nbsp;

                    <small>
                      {{check_in.date_hiked.strftime('%b %d, %Y') }} hiked {% if check_in.miles_completed != None %} {{ check_in.miles_completed }} miles {% endif %}
                    at <a href="/hikes/{{ check_in.hike_id }}">{{ check_in.hike.hike_name }}</a>
                    </small>
                    
                  </div>

                    <!-- Begin Edit Check In Modal -->
                    <div class="modal fade" id="modal-edit-check-in-{{ check_in.check_in_id }}" tabindex="-1" aria-labelledby="modal-edit-check-in-{{ check_in.check_in_id }}-label" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modal-edit-check-in-{{ check_in.check_in_id }}-label">Edit Check In</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">

                            <form
                              action="/edit-check-in"
                              method="POST"
                            >

                              <div class="mb-3">
                                <div class="row">
                                  <div class="col">
                                    <label for="pet_id" class="sr-only">Add a Pet</label>
                                    {% for pet in pets|sort(attribute='pet_name') %}
                                    {% if pet not in check_in.pets %}
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="add_pet_id" value="{{ pet.pet_id }}" id="add-to-check-in-{{ pet.pet_id }}-{{ check_in.check_in_id }}">
                                      <label class="form-check-label" for="add-to-check-in-{{ pet.pet_id }}-{{ check_in.check_in_id }}">
                                        {{ pet.pet_name }}
                                      </label>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                  </div>

                                  <div class="col">
                                    <label for="pet_id" class="sr-only">Remove a Pet</label>
                                    {% for pet in pets|sort(attribute='pet_name') %}
                                    {% if pet in check_in.pets %}
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="remove_pet_id" value="{{ pet.pet_id }}" id="dashboard-page-remove-from-check-in-{{ pet.pet_id }}-{{ check_in.check_in_id }}">
                                      <label class="form-check-label" for="dashboard-page-remove-from-check-in-{{ pet.pet_id }}-{{ check_in.check_in_id }}">
                                        {{ pet.pet_name }}
                                      </label>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                  </div>
                                </div>
                              </div>
                              
                              <div class="mb-3">
                                <label for="date_hiked" class="sr-only">Date Hiked</label>&nbsp;<small class="text-muted">*</small>
                                <input
                                    type="date"
                                    name="date_hiked"
                                    value="{{ check_in.date_hiked }}"
                                    class="form-control"
                                />
                              </div>

                              <div class="mb-3">
                                <label for="miles_completed" class="sr-only"
                                    >Miles Completed</label
                                >&nbsp;<small class="text-muted">*</small>
                                <input
                                    type="number"
                                    step=".1"
                                    min="0"
                                    name="miles_completed"
                                    value="{{ check_in.miles_completed }}"
                                    class="form-control"
                                    required
                                />
                              </div>

                              <div class="mb-3">
                                <label for="total_time" class="sr-only">Total Time (Hours)</label>
                                <input
                                    type="number"
                                    step=".1"
                                    min="0"
                                    name="total_time"
                                    value="{% if check_in.total_time != None %} {{ check_in.total_time }} {% endif %}"
                                    class="form-control"
                                />
                              </div>

                              <div class="mb-3">
                                <label for="notes" class="sr-only">Notes</label>
                                <input
                                    type="text"
                                    name="notes"
                                    value="{% if check_in.notes != None %} {{ check_in.notes }} {% endif %}"
                                    class="form-control"
                                />
                              </div>
                            <div class="modal-footer">
                              <button class="btn btn-sm btn-outline-dark btn-block" type="submit" name="check_in_id" value="{{ check_in.check_in_id }}">Submit</button>
                              <button type="button" class="btn btn-sm btn-secondary btn-block" data-bs-dismiss="modal">Close</button>
                            </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Edit Check In Modal -->
                  
                  <!-- END CHECK IN SCROLL -->
                  {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      </div>

      <!-- end activity (check ins, graph and map) panel -->
      <!-- start bookmarks panel -->
      <div
        class="tab-pane fade card dashboard-content-container"
        id="v-pills-bookmarks"
        role="tabpanel"
        aria-labelledby="v-pills-bookmarks-tab"
      >
        <div class="card-header">
          <div class="clearfix">
            <h3 style="float: left">Bookmarks</h3>
            <a class="btn btn-sm" style="float:right" href="" data-bs-toggle="modal" data-bs-target="#modal-add-bookmark">
              <div data-bs-toggle="tooltip" data-bs-placement="right" title="add a bookmark list" ><i class="bi bi-plus"></i> bookmark <i class="bi bi-bookmark-star"></i></div>
            </a>
          </div>
        </div>

        <div class="card-body">

          {% if bookmarks_lists == [] %}
          You have no lists
          {% else %}
          <small>Click on a list name to view all hikes on the list</small>
          <div class="dashboard-content-container">
            
            {% for bookmarks_list in bookmarks_lists|sort(attribute='bookmarks_list_name') %}
            <div class="card mt-1">
              <div class="card-header">
                <div class="clearfix">
                  <div style="float:left">
                    <a
                      class="btn btn-md"
                      data-bs-toggle="collapse"
                      href="#collapse-bookmarks-{{ bookmarks_list.bookmarks_list_id }}"
                      role="button"
                      aria-expanded="false"
                      aria-controls="collapse-bookmarks-{{ bookmarks_list.bookmarks_list_id }}"
                    >
                      {{ bookmarks_list.bookmarks_list_name }} <i data-bs-toggle="tooltip" data-bs-placement="right" title="view all hikes in list" class="bi bi-caret-down"></i>
                    </a>
                  </div>

                  <div class="d-flex" style="float:right">
                    
                    <a 
                    href="" 
                    data-bs-toggle="modal" 
                    data-bs-target="#modal-rename-bookmark-{{ bookmarks_list.bookmarks_list_id }}"
                    style="color: rgb(44, 44, 44)"
                    >
                      <small><i data-bs-toggle="tooltip" data-bs-placement="right" title="rename list" class="bi bi-pencil"></i></small>
                    </a>
                  
                    &nbsp;&nbsp;&nbsp;

                    <form
                      action="/delete-bookmarks-list"
                      method="POST"
                    >
                      <button
                        class="btn btn-sm"
                        style="padding:0"
                        type="submit"
                        name="delete"
                        value="{{ bookmarks_list.bookmarks_list_id }}"
                        onclick="return confirm('Do you want to delete this list?');"
                      >
                        <i data-bs-toggle="tooltip" data-bs-placement="right" title="delete list" class="bi bi-x"></i>
                      </button>
                    </form>
                  </div>
                  
                </div>
              </div>

              <!-- Start Rename Bookmark Modal -->
              <div class="modal fade" id="modal-rename-bookmark-{{ bookmarks_list.bookmarks_list_id }}" tabindex="-1" aria-labelledby="modal-rename-bookmark-{{ bookmarks_list.bookmarks_list_id }}-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-rename-bookmark-{{ bookmarks_list.bookmarks_list_id }}-label">Rename Bookmark</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form
                        action="/edit-bookmarks-list"
                        method="POST"
                      >
                        <div class="mb-3">
                        <input
                          type="text"
                          name="bookmarks_list_name"
                          class="form-control input-lg"
                          value="{{ bookmarks_list.bookmarks_list_name }}"
                          required
                        />
                      </div>

                      <div class="modal-footer">
                        <button class="btn btn-sm btn-outline-dark btn-block" type="submit" name="edit" value="{{ bookmarks_list.bookmarks_list_id }}">Save</button>
                        <button type="button" class="btn btn-sm btn-secondary btn-block" data-bs-dismiss="modal">Close</button>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Rename Bookmark Modal -->


              <div
                class="collapse card-body"
                id="collapse-bookmarks-{{ bookmarks_list.bookmarks_list_id }}">

                <a 
                  href=""
                  class="btn btn-sm"
                  data-bs-toggle="modal" 
                  data-bs-target="#modal-add-hikes-{{ bookmarks_list.bookmarks_list_id }}">
                  <small><div data-bs-toggle="tooltip" data-bs-placement="right" title="add hikes to list">+ hikes</div></small>
                </a>

                <!-- START ADD HIKES MODAL -->
                <div
                  class="modal fade"
                  id="modal-add-hikes-{{ bookmarks_list.bookmarks_list_id }}"
                  tabindex="-1"
                  aria-labelledby="modal-add-hikes-{{ bookmarks_list.bookmarks_list_id }}-label"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-add-hikes-{{ bookmarks_list.bookmarks_list_id }}-label">Add Hikes</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <form action="/add-hike" method="POST">
                          <div class="mb-3">
                            <label class="form-label" for="search-area">Area</label>
                            <select class="form-control choices-multiple" name="hike_id" multiple>
                              {% for hike in hikes|sort(attribute='hike_name') %}
                              <option value="{{ hike.hike_id }}">{{ hike.hike_name }}</option>
                              {% endfor %}
                            </select>
                          </div>

                          <div class="modal-footer">
                            <button
                              type="submit"
                              class="btn btn-sm btn-outline-dark btn-block mt-4"
                              data-bs-dismiss="modal"
                              name="bookmarks_list_id"
                              value="{{ bookmarks_list.bookmarks_list_id }}"
                            >
                              Save
                            </button>
                            <button
                              type="button"
                              class="btn btn-sm btn-secondary btn-block mt-4"
                              data-bs-dismiss="modal"
                            >
                              Close
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END ADD HIKES MODAL -->


                <div>
                  {% for hike in bookmarks_list.hikes %}
                  <div class="row">
                    <div class="d-flex">
                      <form
                        action="/remove-hike"
                        method="POST">
                        <button
                          class="btn btn-sm"
                          style="padding:0"
                          type="submit"
                          name="delete"
                          value="{{ hike.hike_id }},{{ bookmarks_list.bookmarks_list_id }}"
                          onclick="return confirm('Do you want to remove this hike?');"
                        ><small>
                          <i data-bs-toggle="tooltip" data-bs-placement="right" title="remove from list" class="bi bi-x"></i>
                        </small></button>
                      </form>

                      &nbsp;&nbsp;&nbsp;

                      <a href="/hikes/{{ hike.hike_id }}" target="_blank">
                        {{ hike.hike_name }}
                      </a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div> <!-- end bookmarks panel -->
    </div> <!-- end panels -->
  </div> <!-- end d-flex tabs and panels -->
</div> <!-- container fluid div -->
{% endblock %} {% block js %}
<!-- Google Maps API -->
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_KEY }}&callback=initMap">
</script>
<script src="/static/js/dashboard.js"></script>
{% endblock %}
