{% extends 'base.html' %}

{% block title %}{{ hike.hike_name }} - Details{% endblock %}

{% block body %}

<div class="search-side-bar">
  <h1>Search Hikes</h1>
  <p>Search function to be added here. Will be a left sidebar.</p>
</div>

<div class="hike-details-container">
  <h1>{{ hike.hike_name }}</h1>
  <img src="{{ hike.hike_imgURL }}" class="hike_details">
  <p>{{ hike.description }}</p>
  <ul>
    <li><strong><span id="difficulty">Difficulty:</span></strong> {{ hike.difficulty }}</li>
    <li><strong><span id="leash_rule">Leash Rule:</span></strong> {{ hike.leash_rule }}</li>
    <li><strong><span id="features">Features:</span></strong> {{ hike.features }}</li>
    <li><strong><span id="address">Address:</span></strong> {{ hike.address }}</li>
    <li><strong><span id="area">Area:</span></strong> {{ hike.area }}</li>
    <li><strong><span id="length">Length:</span></strong> {{ hike.length }}</li>
    <li><strong><span id="parking">Parking:</span></strong> {{ hike.parking }}</li>
    <li><strong><span id="resources">Resources:</span></strong>
    {% for hike_resource in hike_resources %}
      <br><a href="{{ hike_resource }}" target="_blank">{{ hike_resource }}</a>
    {% endfor %}
    </li>
  </ul>
  
  {% if "login" in session %}



  <p>
    <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse-hike-check-ins" role="button" aria-expanded="false" aria-controls="collapse-hike-check-ins">
      View Check Ins
    </a>
  </p>

  <div class="collapse card card-body" id="collapse-hike-check-ins">

   
      <a class="btn btn-link card card-title text-start" data-bs-toggle="collapse" href="#collapse-check-in-to-hike" role="button" aria-expanded="false" aria-controls="collapse-check-in-to-hike">
        + Check In
      </a>


      <div class="collapse card card-body" id="collapse-check-in-to-hike">
        <h4 id="form-check-in-hike-heading">Add Check In</h4>

        <form action="/hikes/{{ hike.hike_id }}/check-in" id="form-check-in" method="POST">
          <div>
            <label for="pet_id" class="sr-only">Pet</label>
            <select name="pet_id" class="form-control input-lg">
              {% for pet in pets %}
              <option value="{{ pet.pet_id }}">{{ pet.pet_name }}</option>
              {% endfor %}
            </select>
          </div>
          
          <div>
            <label for="date_hiked" class="sr-only">Date Hiked</label>
            <input type="date"
                    name="date_hiked"
                    class="form-control input-lg"
                    required>
          </div>

          <div>
            <label for="date_started" class="sr-only">Date Started</label>
            <input type="date"
                    name="date_started"
                    class="form-control input-lg">
          </div>

          <div>
            <label for="date_completed" class="sr-only">Date Completed</label>
            <input type="date"
                    name="date_completed"
                    class="form-control input-lg">
          </div>

          <div>
            <label for="miles_completed" class="sr-only">Miles Completed</label>
            <input type="number"
                    step=.1
                    min=0
                    name="miles_completed"
                    class="form-control input-lg">
          </div>

          <div>
            <label for="total_time" class="sr-only">Total Time (Hours)</label>
            <input type="number"
                    step=.1
                    min=0
                    name="total_time"
                    class="form-control input-lg">
          </div>

          <button class="btn btn-sm btn-primary btn-block mt-4" type="submit">Save</button>

        </form>
      </div>

      <div class="card card-body">
        Use AJAX/React to add check ins here when a check in is submitted.
        <br>Make sure to add option to update/delete each check in
        <br>Format: Pet did this hike on mm/dd/yyyy!
        <br>if information is available, list out info
        <br>option to edit/delete
      </div>
    </div>



  <p>
    <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse-hike-bookmarks" role="button" aria-expanded="false" aria-controls="collapse-hike-bookmarks">
      View Bookmarks
    </a>
  </p>

  <div class="collapse card card-body" id="collapse-hike-bookmarks">


    <a class="btn btn-link card card-title text-start" data-bs-toggle="collapse" href="#collapse-bookmark-hike" role="button" aria-expanded="false" aria-controls="collapse-bookmark-hike">
      + Bookmark
    </a>
    
    <div class="collapse card card-body" id="collapse-bookmark-hike">

      <form action="/hikes/{{ hike.hike_id }}/bookmark" id="form-hike-new-bookmark-list" method="POST">
        <h4 id="form-hike-new-bookmark-list-heading">Add to New Bookmark List</h4>

        <div>
          <input type="text"
                  name="bookmarks_list_name"
                  class="form-control input-lg"
                  placeholder="Hikes I Want To Visit"
                  required
                  autofocus>
        </div>

        <div>
          <button class="btn btn-sm btn-primary btn-block mt-4" type="submit">Save</button>
        </div>
      </form>

      <br>

      <form action="/hikes/{{ hike.hike_id }}/bookmark" id="form-hike-existing-bookmark-list" method="POST">

        <h4 id="form-hike-existing-bookmark-list-heading">Add to Existing Bookmark List</h4>

        <div>
          <select name="bookmarks_list_name" class="form-control input-lg">
            {% for bookmarks_list in bookmarks_list_by_user %}
            <option value="{{ bookmarks_list.bookmarks_list_name }}">{{ bookmarks_list.bookmarks_list_name }}</option>
            {% endfor %}
          </select>
        </div>

        <div>
          <button class="btn btn-sm btn-primary btn-block mt-4" type="submit">Save</button>
        </div>

      </form>
    </div>

      {% if bookmarks_lists_by_user_hike != None %}
      <div class="card card-body">
        You have this hike on these lists:
        <ul>
          {% for bookmarks_list in bookmarks_lists_by_user_hike %}
            <li>
              <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse-bookmarks-{{ bookmarks_list.bookmarks_list_id }}" role="button" aria-expanded="false" aria-controls="collapse-bookmarks-{{ bookmarks_list.bookmarks_list_id }}">
                {{ bookmarks_list.bookmarks_list_name }}
              </a>
              <div class="collapse card card-body" id="collapse-bookmarks-{{ bookmarks_list.bookmarks_list_id }}">
                {% for hike in bookmarks_list.hikes %}
                <a href="/hikes/{{ hike.hike_id }}" target="_blank">{{ hike.hike_name }}</a>
                {% endfor %}
              </div>
            </li>
          {% endfor %}
        </ul>




      </div>
      {% endif %}
    </div>
  
    
  
  {% endif %}





  <p>
    <a class="btn btn-link" data-bs-toggle="collapse" href="#collapse-hike-comments" role="button" aria-expanded="false" aria-controls="collapse-hike-comments">
      View Comments
    </a>
  </p>

  <div class="collapse card card-body" id="collapse-hike-comments">
      
    {% if "login" in session %}

    <a class="btn btn-link card card-title text-start" data-bs-toggle="collapse" href="#collapse-add-comment" role="button" aria-expanded="false" aria-controls="collapse-add-comment">
    + Comment
    </a>

    <div class="collapse card card-body" id="collapse-add-comment">

      <form action="/hikes/{{ hike.hike_id }}/comments" id="form-add-comment" method="POST">
        <h4 class="form-add-comment-heading">Add Comment</h4>
            
          <div>
            <input type="text"
                    name="body"
                    class="form-control input-lg"
                    placeholder="Enter your comment here"
                    required>
          </div>

          <div>
            <button class="btn btn-sm btn-primary btn-block mt-4" type="submit">Submit</button>
          </div>
      </form>

    {% else %}

    Please <a href="/login" target="_blank">log in</a> to add a comment.

    {% endif %}

    </div>

    <div class="card card-body" id="comments">
      <p>Use AJAX/React to add comments here when a comment is submitted</p>

      {% for comment in comments %}
      <p>
        {{ comment.user.full_name }} posted:
        <br>{{ comment.body }}
      </p>
      {% endfor %}
    </div>

  </div>

</div>



{% endblock %}