{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
{% endblock %}

{% block title %}Pup Journey Home{% endblock %}

{% block body %}

  {% if "user_email" in session %}
<div class="container">
  <div class="row">
    <div class="card card-body col-7">
      <!-- Tabs for graph, map and check ins -->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-graph-tab" data-bs-toggle="tab" data-bs-target="#nav-graph" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Graph</button>
          <button class="nav-link" id="nav-map-tab" data-bs-toggle="tab" data-bs-target="#nav-map" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Map</button>
          <button class="nav-link" id="nav-checkin-tab" data-bs-toggle="tab" data-bs-target="#nav-checkin" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Check Ins</button>
        </div>
      </nav>
      <!-- Tab content -->
      <div class="tab-content" id="nav-tabContent">
        <!-- graph content -->
        <div class="tab-pane fade show active" id="nav-graph" role="tabpanel" aria-labelledby="nav-graph-tab">
          <canvas id="summary-chart"></canvas>
        </div>
        <!-- map content -->
        <div class="tab-pane fade" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab">map</div>
        <!-- check in content -->
        <div class="tab-pane fade" id="nav-checkin" role="tabpanel" aria-labelledby="nav-checkin-tab">check-ins</div>
      </div>
    </div>


    <div class="card card-body col-3 offset-1">
      <div id="pet-profile-container">
        <!-- REACT HERE -->
      </div>
    </div>
  </div>
</div>

  {% else %}
<div class="everythingContainer">
  <div class="container">
    <div class="row align-items-center">

      <div class="imageContainer">
        <img src="/static/img/homepage3.jpg" id="homepage-image" />
        <div class="app-greeting">
          <div class="big">Welcome!</div>
          <p>Find pup friendly hikes, bookmark your favorites, <br>and check in to hikes your pup has done!</p>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endif %}



{% endblock %}

{% block js %}
	<script src="/static/js/homepage.js"></script>
  <script src="/static/js/petProfile.jsx" type="text/jsx"></script>
{% endblock %}