  <div class="row">
        <div class="col-6">
          <h2>Pets</h2>
        </div>

        <div class="col-6">
          <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modal-add-pet">
            + Pet
          </button>
        </div>
      </div>
      
      <div class="modal fade" id="modal-add-pet" tabindex="-1" aria-labelledby="modal-add-pet-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-add-pet-label">Add Pet Info</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/add-pet" id="form-add-pet" method="POST" enctype="multipart/form-data">

                <h3 id="form-add-pet-heading">Please Add Your Pet Info</h3>
            
                <div>
                  <label for="pet_name" class="sr-only">Name</label>
                  <input type="text"
                          name="pet_name"
                          class="form-control input-lg"
                          placeholder="Name"
                          required
                          autofocus>
                </div>
            
                <div>
                  <label for="gender" class="sr-only">Gender</label>
                  <select name="gender" class="form-control input-lg">
                      <option value=""></option>
                      <option value="female">female</option>
                      <option value="male">male</option>
                  </select>
                </div>

                <div>
                  <label for="birthday" class="sr-only">Birthday</label>
                  <input type="date"
                          name="birthday"
                          class="form-control input-lg">
                </div>

                <div>
                  <label for="breed" class="sr-only">Breed</label>
                  <input type="text"
                          name="breed"
                          class="form-control input-lg"
                          placeholder="Breed">
                </div>

                <div>
                    <label for="my_file" class="sr-only">Image</label>
                    <input type="file" 
                            name="my_file"
                            class="form-control input-lg"
                            accept="image/png, image/jpeg">
                </div>
                <p></p>
              <div class="modal-footer">
                <button class="btn btn-sm btn-primary btn-block mt-4" type="submit">Save</button>
                </form>
                <button type="button" class="btn btn-sm btn-secondary btn-block mt-4" data-bs-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
      </div>
      

      <div id="pet-profiles">
          {% for pet in pets %}
          
            <a class="btn btn-link btn-sm" 
                data-bs-toggle="collapse" 
                href="#collapse-view-check-ins-{{ pet.pet_id }}" 
                role="button" 
                aria-expanded="false"
                aria-controls="collapse-view-check-ins-{{ pet.pet_id }}">
              View Check Ins
            </a>
            <form action="/edit-pet" class="edit-form" id="form-edit-pet" method="POST">
              <button class="btn btn-link btn-sm" type="submit" name="edit" value="{{ pet.pet_id }}"><small>Edit</small></button>
            </form>
            <form action="/delete-pet" class="delete-form" id="form-delete-pet" method="POST">
              <button class="btn btn-link btn-sm" type="submit" name="delete" value="{{ pet.pet_id }}"><small>Delete</small></button>
            </form>
            
            

            <div class="collapse card card-body" id="collapse-view-check-ins-{{ pet.pet_id }}">
              <ul>
                {% for check_in in pet.check_ins|sort(attribute='date_hiked', reverse=True) %}
                <li>
                  {{ pet.pet_name }} hiked <a href="/hikes/{{ check_in.hike_id }}">{{ check_in.hike.hike_name }}</a> on {{ check_in.date_hiked.month }}/{{ check_in.date_hiked.day }}/{{ check_in.date_hiked.year }}!
                  
                  {% if check_in.date_started != None %}
                  <br>Date started: {{ check_in.date_started.strftime('%b %d, %Y') }}
                  {% endif %}
                  
                  {% if check_in.date_completed != None %}
                  <br>Date completed: {{ check_in.date_completed.strftime('%b %d, %Y') }}
                  {% endif %}
                  
                  {% if check_in.miles_completed != None %}
                  <br>Miles completed: {{ check_in.miles_completed }}
                  {% endif %}
                  
                  {% if check_in.total_time != None %}
                  <br>Total time: {{ check_in.total_time }} hours
                  {% endif %}

                  <br>
                  <form action="/edit-check-in" class="edit-form" id="form-edit-check-in" method="POST">
                    <button class="btn btn-link btn-sm" type="submit" name="edit" value="{{ check_in.check_in_id }}">Edit</button>
                  </form>
                  <form action="/delete-check-in" class="delete-form" id="form-delete-check-in" method="POST">
                    <button class="btn btn-link btn-sm" type="submit" name="delete" value="{{ check_in.check_in_id }}">Delete</button>
                  </form>
            
                </li>
              {% endfor %}
            </ul>
            </div>
            </li>
          </ul>
          {% endfor %}
        </ul>
      </div>
    </div>